@font-face {
    font-family: "Myriad-Pro";
    src: url('../fonts/MyriadPro-Regular.otf') format('otf'),
         url('../fonts/MyriadPro-Regular.otf') format('otf');
}
@font-face {
    font-family: "Myriad-Pro";
    src: url('../fonts/MyriadPro-Semibold.otf') format('otf'),
         url('../fonts/MyriadPro-Semibold.otf') format('otf');
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('../fonts/pts55f-webfont.ttf') format('ttf'),
         url('../fonts/pts55f-webfont.ttf') format('ttf');
}
@font-face {
    font-family: 'PT Sans', sans-serif;
    src: url('../fonts/pt-sans.bold.ttf') format('ttf'),
         url('../fonts/pt-sans.bold.ttf') format('ttf');
}
@font-face {
    font-family: 'Gotham Black', sans-serif;
    src: url('../fonts/Rupee_Foradian.ttf') format('ttf'),
         url('../fonts/Rupee_Foradian.ttf') format('ttf');
}
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #707070;
    background: #E6E6E6;
                                                
}

h1{
    font-size: 34px;
    font-weight: 600;
}
h2{
    font-size: 28px;
    font-weight: 600;
}
h3{
    font-size: 24px;
    font-weight: 600;
}
h4{
    font-size: 22px;
    font-weight: 600;
}

section{
    padding: 30px 0px;
}

.text-black{
    color: #000;
}
.text-lightblue{
    color: #00ADEE;
}

header{
    background: #E6E6E6;
    padding: 15px 0px;
}


footer{
    background: #000E49;
    padding: 0px 30px;
}
.footer-logo-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-menu-divider{
    border-right: 5px solid #E6E6E6;
}
.footer-menu-divider:last-child{
    border-right: 0;
}
.footer-wrapper{
    padding: 30px 20px;
}
.footer-menu-heading{
    color: #0083DB;
    font-size: 18px;
}
.footer-menu-list{
    padding-left: 0;
    list-style-type: none;
}
.footer-menu-list li a{
    color: #fff;
}

@media(max-width: 480px){
    footer{
        padding: 30px 20px;
    }
    .footer-menu-divider{
        border-right: 0;
    }
    .footer-wrapper{
        padding: 10px 0px;
    }
    .footer-logo-wrapper{
        display: initial;
    }
}

/*Body CSS BEGINS*/

.hero-banner{
    background: #002348;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.form-wrapper{
    background: #fff;
    padding: 30px;
    border-radius: 15px;
}
.form-wrapper h4{
    color: #000;
    letter-spacing: 1px;
}

.form-wrapper label{
    color: #000;
    font-weight: 600;
}

.btn.btn-brand{
    padding: 10px 40px;
    border-radius: 50px;
    border: 2px solid #fff;
    background: #2854A4;
    color: #fff;
    box-shadow: 2px 0px 6px 4px #ddd;
    margin-top: 20px;
    font-weight: 600;
}

.highlights-sec{
    background: #D9EFFC;
    padding: 15px 0px;
}

.highlights-item p{
    margin-bottom: 0px;
}
.highlights-border{
    border-right: 5px solid #0A466F;
    display: flex;
    justify-content: center;
}
.highlights-border:last-child{
    border-right: 0;
}
.highlights-item p.number{
    color: #0A466F;
    font-weight: bold;
    font-size: 30px;
}
.highlights-item p.highlights-label{
    color: #0A466F;
    font-size: 20px;
}

@media(max-width: 480px){
    .highlights-border{
        border-right: 5px solid #0A466F;
        display: initial;
        padding: 0px 20px;
        margin-bottom: 30px;
    }
    .highlights-border:nth-child(2){
        border-right: 0;
    }
    .highlights-item p.number{
        font-size: 26px;
    }
    .highlights-item p.highlights-label{
        font-size: 16px;
    }
}

.content-wrapper{
    padding: 0px 50px;
}
.content-list{
    padding-left: 20px;
    padding-right: 70px;
}
.content-list li{
    color: #000;
}
.card-bg-one{
    background: #BBD4EB;
}
.card-bg-two{
    background: #FAD7FF;
}
.card-bg-three{
    background: #9CBBD4;
}
.card-bg-four{
    background: #B0D3ED;
}
.card-bg-five{
    background: #FCFFDC;
}
.card-bg-six{
    background: #FFE8DE;
}
.card-wrapper{
    padding: 40px 20px;
}

.card-label{
    color: #000;
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 0;
}

@media(max-width: 480px){
    .content-wrapper{
        padding: 0px 20px;
    }
    .content-list{
        padding-left: 20px;
        padding-right: 0px;
    }
}

.callbackform-wrapper{
    background: #7CB5E7;
}
.callback-form-wrap-padding{
    padding: 20px 50px;
}
.callbackform-wrapper h4{
    color: #000;
    letter-spacing: 1px;
}

.callbackform-wrapper label{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.form-control{
    border-radius: 0px;
}

.btn-appointment{
    background: linear-gradient(180deg, #2FA0F3, #1D63CC);
    padding: 40px 10px;
    border-radius: 50px;
    border: none;
    color: #fff;
    font-size: 20px;
}

/*Body CSS ENDs*/
